<div class="paper">
  <%= form_for @note do |f| %>
    <%= f.text_field  :name, placeholder: "Name" %> <br>

    <%= f.text_field :title, placeholder: "Title" %> <br>

    <%= f.text_field :misc, placeholder: "Misc" %> <br>

    <%= f.text_area :body %> <br>

    <%= f.submit %>
  <% end %>
</div>
